openapi: 3.0.3
info:
  title: AirIQ Platform API
  description: >
    AI-Powered Urban Air Quality Intelligence Platform — public API contract.
    Served by the FastAPI Gateway (see System Architecture Document, Section 3).
    This is the single ingress for every client (Web Dashboard, Mobile App, IVR).
    All endpoints are versioned under /api/v1 and require a JWT bearer token
    unless explicitly marked public.
  version: "1.0.0"
  contact:
    name: AirIQ Engineering
  license:
    name: Proprietary

servers:
  - url: https://api.airiq.platform/api/v1
    description: Production
  - url: https://staging-api.airiq.platform/api/v1
    description: Staging

tags:
  - name: Attribution
    description: Geospatial Pollution Source Attribution Engine
  - name: Forecast
    description: Hyperlocal Predictive AQI Forecasting Agent
  - name: Enforcement
    description: Enforcement Intelligence and Prioritisation Agent
  - name: Advisory
    description: Citizen Health Risk Advisory System
  - name: Cities
    description: Multi-City Comparative Intelligence Dashboard
  - name: Citizens
    description: Citizen subscription and opt-in management
  - name: System
    description: Health, readiness, and operational endpoints

security:
  - bearerAuth: []

paths:
  /attribution/ward/{ward_id}:
    get:
      tags: [Attribution]
      summary: Latest source attribution for a ward
      description: >
        Returns the most recent source-category attribution for the given ward,
        with a confidence score. Cached for 15 minutes (TRD Section 1, FastAPI
        + Redis cache layer). Target P95 latency 400ms (NFR PERF-table).
      operationId: getWardAttribution
      parameters:
        - $ref: '#/components/parameters/WardId'
      responses:
        '200':
          description: Current attribution for the ward
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributionRecord'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /attribution/ward/{ward_id}/timeseries:
    get:
      tags: [Attribution]
      summary: Historical attribution time-series for a ward
      description: Supports any date range up to 12 months (FRD AC-1.8).
      operationId: getWardAttributionTimeseries
      parameters:
        - $ref: '#/components/parameters/WardId'
        - name: from_date
          in: query
          required: true
          schema: { type: string, format: date }
        - name: to_date
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: Attribution records for the requested window
          content:
            application/json:
              schema:
                type: object
                properties:
                  ward_id: { type: string }
                  from_date: { type: string, format: date }
                  to_date: { type: string, format: date }
                  records:
                    type: array
                    items: { $ref: '#/components/schemas/AttributionRecord' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /attribution/ward/{ward_id}/report:
    get:
      tags: [Attribution]
      summary: Download a PDF/CSV attribution evidence report
      description: Supports FRD US-1.3 / AC-1.6 — exportable evidence for officials and legal teams.
      operationId: getWardAttributionReport
      parameters:
        - $ref: '#/components/parameters/WardId'
        - name: format
          in: query
          required: false
          schema: { type: string, enum: [pdf, csv], default: pdf }
        - name: event_date
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        '200':
          description: Binary report file
          content:
            application/pdf:
              schema: { type: string, format: binary }
            text/csv:
              schema: { type: string, format: binary }
        '404':
          $ref: '#/components/responses/NotFound'

  /forecast/ward/{ward_id}:
    get:
      tags: [Forecast]
      summary: 24h/72h AQI forecast for a ward
      description: >
        Refreshed every 6 hours aligned to IMD model runs (TRD Section 4.2).
        72h horizon is returned with a reduced-confidence flag (FRD AC-2.7).
      operationId: getWardForecast
      parameters:
        - $ref: '#/components/parameters/WardId'
        - name: horizon_hours
          in: query
          required: false
          schema: { type: integer, enum: [24, 72], default: 24 }
      responses:
        '200':
          description: Forecast points for the ward
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WardForecastResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /forecast/city/{city_id}:
    get:
      tags: [Forecast]
      summary: City-wide 1km grid forecast
      description: Used to render the forecast map view (FRD AC-2.1, AC-2.4).
      operationId: getCityForecast
      parameters:
        - $ref: '#/components/parameters/CityId'
        - name: horizon_hours
          in: query
          required: false
          schema: { type: integer, enum: [24, 72], default: 24 }
      responses:
        '200':
          description: Grid forecast for the city
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CityForecastResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /forecast/ward/{ward_id}/accuracy:
    get:
      tags: [Forecast]
      summary: Historical forecast vs. actual comparison
      description: RMSE and bias metrics for the last 90 days (FRD AC-2.9).
      operationId: getWardForecastAccuracy
      parameters:
        - $ref: '#/components/parameters/WardId'
      responses:
        '200':
          description: Forecast accuracy metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  ward_id: { type: string }
                  window_days: { type: integer, example: 90 }
                  rmse_pm25: { type: number, format: float }
                  bias_pm25: { type: number, format: float }
                  vs_persistence_improvement_pct: { type: number, format: float }
        '404':
          $ref: '#/components/responses/NotFound'

  /enforcement/daily-list:
    get:
      tags: [Enforcement]
      summary: Today's ranked enforcement target list
      description: >
        Generated by 6:00 AM daily (FRD AC-3.1). Each entry includes location,
        estimated impact, confidence score, and 30-day violation history (AC-3.2).
      operationId: getEnforcementDailyList
      parameters:
        - $ref: '#/components/parameters/CityIdQuery'
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 10, maximum: 50 }
      responses:
        '200':
          description: Ranked enforcement list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnforcementDailyListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /enforcement/{action_id}:
    get:
      tags: [Enforcement]
      summary: Mobile-friendly inspection brief for one enforcement target
      description: Must load within 2 seconds on a 4G connection (FRD AC-3.4).
      operationId: getEnforcementAction
      parameters:
        - $ref: '#/components/parameters/ActionId'
      responses:
        '200':
          description: Enforcement action detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnforcementAction'
        '404':
          $ref: '#/components/responses/NotFound'

  /enforcement/{action_id}/log:
    post:
      tags: [Enforcement]
      summary: Log a field inspection outcome
      description: Field inspectors record outcome and optional photo evidence (FRD AC-3.5).
      operationId: logEnforcementAction
      parameters:
        - $ref: '#/components/parameters/ActionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnforcementLogRequest'
      responses:
        '201':
          description: Outcome recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnforcementAction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /enforcement/{action_id}/dossier:
    get:
      tags: [Enforcement]
      summary: Export an enforcement case dossier as PDF
      description: For use in legal proceedings (FRD AC-3.9).
      operationId: getEnforcementDossier
      parameters:
        - $ref: '#/components/parameters/ActionId'
      responses:
        '200':
          description: Case dossier PDF
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '404':
          $ref: '#/components/responses/NotFound'

  /advisory/ward/{ward_id}:
    get:
      tags: [Advisory]
      summary: Today's citizen advisory for a ward
      description: >
        Published by 7:00 AM daily (FRD AC-5.1). Rate-limited to 100 requests/min
        per IP on the public advisory surface (NFR SEC-05).
      operationId: getWardAdvisory
      security: []
      parameters:
        - $ref: '#/components/parameters/WardId'
        - name: language
          in: query
          required: false
          description: ISO 639-1 code; falls back to English on low-confidence output (NFR ACCL-04)
          schema: { type: string, default: en, example: hi }
      responses:
        '200':
          description: Advisory for the ward
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advisory'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /cities:
    get:
      tags: [Cities]
      summary: List all enrolled cities
      operationId: listCities
      responses:
        '200':
          description: Cities enrolled in AirIQ
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CitySummary' }

  /cities/compare:
    get:
      tags: [Cities]
      summary: Multi-city comparative metrics
      description: Supports the Multi-City Comparative Intelligence Dashboard (FRD AC-4.1 to AC-4.4).
      operationId: compareCities
      parameters:
        - name: city_ids
          in: query
          required: false
          description: Comma-separated city IDs; omit to compare all enrolled cities (up to 50, NFR SCALE-02)
          schema: { type: string, example: "DEL,MUM,BLR" }
      responses:
        '200':
          description: Comparative metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CityComparisonResponse'

  /citizens/subscribe:
    post:
      tags: [Citizens]
      summary: Opt in to advisory delivery for a ward
      description: No push/IVR notification is sent without explicit opt-in (NFR PRIV-02).
      operationId: subscribeCitizen
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CitizenSubscriptionRequest'
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitizenSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'

  /citizens/{user_id}:
    delete:
      tags: [Citizens]
      summary: Delete a citizen's data (right to erasure)
      description: Completed within 30 days of request per DPDPA 2023 (NFR PRIV-04).
      operationId: deleteCitizen
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '202':
          description: Deletion request accepted
        '404':
          $ref: '#/components/responses/NotFound'

  /health:
    get:
      tags: [System]
      summary: Liveness / readiness probe
      operationId: getHealth
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Access token TTL 1 hour, refresh token TTL 24 hours (NFR SEC-04).
        Roles: Platform Admin, City Admin, SPCB Analyst, Field Inspector,
        Read-Only Viewer, Citizen (TRD Section 5.1).

  parameters:
    WardId:
      name: ward_id
      in: path
      required: true
      schema: { type: string }
      example: BLR-WD-014
    CityId:
      name: city_id
      in: path
      required: true
      schema: { type: string }
      example: BLR
    CityIdQuery:
      name: city_id
      in: query
      required: false
      schema: { type: string }
      example: BLR
    ActionId:
      name: action_id
      in: path
      required: true
      schema: { type: string }

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Missing or invalid JWT
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    TooManyRequests:
      description: Rate limit exceeded (100 req/min per IP on public advisory endpoints)
      headers:
        Retry-After:
          schema: { type: integer }
          description: Seconds until the client may retry
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    Error:
      type: object
      properties:
        code: { type: string, example: WARD_NOT_FOUND }
        message: { type: string, example: "No ward found for the given ward_id" }
        details: { type: object, additionalProperties: true, nullable: true }

    AttributionRecord:
      type: object
      properties:
        ward_id: { type: string, example: BLR-WD-014 }
        timestamp: { type: string, format: date-time }
        source_breakdown:
          type: object
          properties:
            industry_pct: { type: number, format: float, example: 22.5 }
            vehicular_pct: { type: number, format: float, example: 38.0 }
            construction_pct: { type: number, format: float, example: 14.0 }
            waste_burning_pct: { type: number, format: float, example: 6.5 }
            road_dust_pct: { type: number, format: float, example: 15.0 }
            other_pct: { type: number, format: float, example: 4.0 }
        confidence_score: { type: number, format: float, minimum: 0, maximum: 1, example: 0.84 }

    ForecastPoint:
      type: object
      properties:
        valid_time: { type: string, format: date-time }
        predicted_pm25: { type: number, format: float }
        p10: { type: number, format: float, description: 10th percentile uncertainty bound }
        p90: { type: number, format: float, description: 90th percentile uncertainty bound }
        aqi_index: { type: integer }
        aqi_category:
          type: string
          enum: [Good, Satisfactory, Moderate, Poor, Very Poor, Severe]

    WardForecastResponse:
      type: object
      properties:
        ward_id: { type: string }
        generated_at: { type: string, format: date-time }
        horizon_hours: { type: integer, enum: [24, 72] }
        confidence_tier:
          type: string
          enum: [standard, reduced]
          description: "'reduced' applies to the 72h horizon (FRD AC-2.7)"
        forecast:
          type: array
          items: { $ref: '#/components/schemas/ForecastPoint' }

    GridCell:
      type: object
      properties:
        lat: { type: number, format: float }
        lon: { type: number, format: float }
        predicted_pm25: { type: number, format: float }
        p10: { type: number, format: float }
        p90: { type: number, format: float }

    CityForecastResponse:
      type: object
      properties:
        city_id: { type: string }
        generated_at: { type: string, format: date-time }
        horizon_hours: { type: integer }
        grid:
          type: array
          items: { $ref: '#/components/schemas/GridCell' }

    EnforcementAction:
      type: object
      properties:
        action_id: { type: string }
        rank: { type: integer, example: 1 }
        source_name: { type: string, example: "Sundaram Textiles Pvt Ltd" }
        category:
          type: string
          enum: [industry, construction, waste_burning, diesel_fleet]
        ward_id: { type: string }
        location:
          type: object
          properties:
            lat: { type: number, format: float }
            lon: { type: number, format: float }
        estimated_pm25_contribution: { type: number, format: float }
        confidence_score: { type: number, format: float, minimum: 0, maximum: 1 }
        violation_history_30d: { type: integer, example: 2 }
        status:
          type: string
          enum: [pending, inspected, escalated]
        outcome:
          type: string
          enum: [compliant, non_compliant, not_found]
          nullable: true

    EnforcementDailyListResponse:
      type: object
      properties:
        city_id: { type: string }
        date: { type: string, format: date }
        generated_at: { type: string, format: date-time }
        partial:
          type: boolean
          description: True if an upstream agent (e.g. Forecasting) did not complete in time (SAD Section 4.3)
        actions:
          type: array
          items: { $ref: '#/components/schemas/EnforcementAction' }

    EnforcementLogRequest:
      type: object
      required: [outcome]
      properties:
        outcome:
          type: string
          enum: [compliant, non_compliant, not_found]
        notes: { type: string }
        photo_evidence_url: { type: string, format: uri, nullable: true }

    Advisory:
      type: object
      properties:
        ward_id: { type: string }
        date: { type: string, format: date }
        language_code: { type: string, example: kn }
        risk_category:
          type: string
          enum: [Low, Moderate, High, Very High]
        headline: { type: string, example: "Air quality moderate today; sensitive groups should limit outdoor exertion" }
        recommended_actions:
          type: array
          items: { type: string }
        vulnerable_group_guidance: { type: string, nullable: true }
        published_at: { type: string, format: date-time }

    CitySummary:
      type: object
      properties:
        city_id: { type: string }
        city_name: { type: string }
        state: { type: string }
        current_aqi: { type: integer }
        ncap_target_progress_pct: { type: number, format: float }

    CityComparisonRow:
      type: object
      properties:
        city_id: { type: string }
        city_name: { type: string }
        pm25: { type: number, format: float }
        pm10: { type: number, format: float }
        no2: { type: number, format: float }
        so2: { type: number, format: float }
        aqi_index: { type: integer }
        trend_7d:
          type: string
          enum: [improving, worsening, stable]

    CityComparisonResponse:
      type: object
      properties:
        generated_at: { type: string, format: date-time }
        cities:
          type: array
          items: { $ref: '#/components/schemas/CityComparisonRow' }

    CitizenSubscriptionRequest:
      type: object
      required: [ward_id, language_code, channels]
      properties:
        phone: { type: string, nullable: true, example: "+919812345678" }
        user_id: { type: string, nullable: true }
        ward_id: { type: string }
        language_code: { type: string, example: ta }
        channels:
          type: array
          items:
            type: string
            enum: [push, ivr, whatsapp]

    CitizenSubscription:
      type: object
      properties:
        subscription_id: { type: string }
        ward_id: { type: string }
        language_code: { type: string }
        channels:
          type: array
          items: { type: string }
        opted_in_at: { type: string, format: date-time }

    HealthResponse:
      type: object
      properties:
        status: { type: string, example: ok }
        version: { type: string, example: "1.0.0" }
        timestamp: { type: string, format: date-time }
